<!DOCTYPE html>
<html>
<head>
	<title></title>
        <link rel="stylesheet" href="style.css">		
 		<script src ="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
 		<script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
 		<script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
 		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
 		<script src="app.js"></script>
</head>
<body ng-app="tickApp" ng-controller="TickCtrl">
<h2 id="victor" ng-show="victorMessageX"> X Wins! </h2>
<h2 id="victor" ng-show="victorMessageO"> O Wins! </h2>
<h2 id="victor" ng-show="victorMessageTie"> Firebase Chicken Defeats All Other Chickens Tie Game </h2>
<div id="new" ng-click='tryAgain()'>
    Reset
</div>

<div id="container">
        <div
            ng-class='{box: true,
                       xChicken: box.token == "x",
                       oChicken: box.token == "o"}'
            ng-repeat="box in board track by $index"
            ng-click="boxClick($index)"
        ></div>
       

</div>
    
</body>
</html>

