
#container { 
	height: 600px;
	width: 600px;
	position: absolute;
	margin-left: 0 auto;
}

.box { 
	border: 2px solid rgba(204,204,204, 1);
	display: inline-block;
	height:190px;
	width: 190px;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	left: 50%;
	right: 50%;
}
.xChicken { 
	background: url("x.png");
	background-size: 190px, 190px;
	background-repeat: no-repeat;
	

}

.oChicken {
	background: url("o.png");
	background-size: 190px, 190px;
	background-repeat: no-repeat;
	
}
