
	
	#container {
		width: 800px;
		margin: 0 auto; 


	}


	 #board {
	  	width: 600px;
	  	height: 600px;
	  	display: inline-block;  	
	  }
	  h1 {
	  	font-family: 'Roboto Condensed', sans-serif;
	  	margin: 0 auto;
	  	width: 400px;
	  	

	  }
	  #victor {
	  	
	  	

	  }
	  #toad {
	  	background-image: url(hypnotoad-animated.gif);
	  	font-family: 'Roboto Condensed', sans-serif;
	  }
	 .topL {
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom:3px solid rgba(232, 148, 125, 1);
	  	width: 190px;
	  	height: 190px;
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  	
	  }
	  .topM { 
	  	width: 190px;
	  	height: 190px;
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 

	  }
	  .topR {
	  	width: 190px;
	  	height: 190px;
	  	border-bottom: 3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	  .midL {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	  .midM {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom:3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	  .midR {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom:3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	  .botL {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 

	  }
	  .botM {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	  .botR {
	  	width: 190px;
	  	height: 190px;
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	display: inline-block;
	  	-webkit-box-sizing: border-box; 
	  }
	 

	  .x {
	  	background-image: url(x.png);

	  }
	  .o {
	  	background-image: url(o.png);
	  }
	  .blank{
	  	
	  }
	  .select{
	  	background-color: rgba(204,204,204,.5);
	  	border-top: 3px solid rgba(232, 148, 125, 1);
	  	border-left: 3px solid rgba(232, 148, 125, 1);
	  	border-right: 3px solid rgba(232, 148, 125, 1);
	  	border-bottom:3px solid rgba(232, 148, 125, 1);
	  }
